<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/pace.min.css' />
    <link rel='stylesheet' href='/multiselect/css/multi-select.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Online Testing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/candidates">Candidates <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/exams">Exams</a>
                    <a class="nav-item nav-link" href="/topics">Topics</a>
                    <a class="nav-item nav-link" href="/questions">Questions</a>
                    <a class="nav-item nav-link" href="/positions">Positions</a>
                    <a class="nav-item nav-link" href="/hrs">HRS</a>
                    <li class="nav-item dropdown" style="margin-left: 390px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Welcome
                            <%= userName%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/hrs/logout">Logout</a>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top:70px;">


        <h3>Please select exams type of this candidate</h3>
        <br>
        <%var selected = 0%>
        <select multiple="multiple" id="my-select" name="my-select[]">
            <% exams.forEach((exam, index) => { %>
            <option value='<%= exam.ID%>' <% userExams.forEach((userExam, index)=> { if(userExam.ID == exam.ID) {
                selected+=1;%>
                selected
                <% } }) %> >
                <%= exam.Name%>
            </option>
            <% }) %>
        </select>


        <form>
            <div class="form-group row mt-3">
                <label for="Deadline" class="col-sm-2 col-md-2 col-form-label">Number of days</label>
                <div class="col-sm-10 col-md-2">
                    <input type="number" class="form-control" id="Deadline" name="Deadline" placeholder="days">

                </div>
            </div>
            <span class="text-danger" id="Error">
            </span>
        </form>

        <button type="button" id="approve" class="btn btn-primary">Send approved mail</button>
        <br> <br>
        <div>
            <a href="/candidates">Back to List</a>
        </div>

        <hr />
        <footer>
            <p>&copy;
                <%= new Date().getFullYear() %> - OnlineTesting</p>
        </footer>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/pace.min.js"></script>
    <script src="/multiselect/js/jquery.multi-select.js"></script>
    <script>
        $(document).ajaxStart(function () {
            Pace.restart()
        });
        $(document).ready(function () {
            var counter = <%= selected%>;
            $('#my-select').multiSelect({
                keepOrder: true,
                afterSelect: function (values) {
                    $.ajax({
                        url: '/candidates/addExam/' + values + '/to/' + <%= candidateId %>,
                        type: 'POST',
                        success: function () {
                            counter += 1;
                        },
                        error: function (xhr) {
                            alert("Something goes wrong");
                        }
                    });
                },
                afterDeselect: function (values) {
                    $.ajax({
                        url: '/candidates/removeExam/' + values + '/to/' +
                            <%= candidateId %>,
                        type: 'POST',
                        success: function () {
                            counter -= 1;
                        },
                        error: function (xhr) {
                            alert("Something goes wrong");
                        }
                    });
                }
            });
            $("#approve").click(function () {
                var deadline = $("#Deadline").val();
                if (deadline != '' && counter != 0) {
                    $('#approve').html("Sending...");
                    $.ajax({
                        url: '/candidates/sendApprovalMail/' + <%= candidateId %> + '/' +
                            deadline,
                        type: 'POST',
                        success: function () {
                            window.location = "/candidates";
                        },
                        error: function (xhr) {
                            $('#approve').html("Mail Not Sended");
                        },

                    });

                } else {
                    $("#Error").html("Please enter all data");
                }

            });
        })
    </script>
</body>

</html>