<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/pace.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="bg-linear">
    <div class="container emp-profile">

        <div class="row">

            <div class="col-md-12">
                <div class="profile-head">
                    <h3 class="exam-title">
                        <%= examName %> Exam</h3>
                    <h5>
                        Answer as much as you can of theses questions:
                    </h5>
                    <h6>
                        <div class="mybox" style="background-color: #dc3545;"></div> Skipped &nbsp;&nbsp;
                        <div class="mybox" style="background-color: #ffc107;"></div> Marked
                        <div class="timer" style="color: #dc3545;">Remaining time <span id="time"></span></div>
                    </h6>
                    <p class="proile-rating">Solved : <span><span id="solved">0</span>/
                            <%= questions.length%></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <% questions.forEach((question, index) => { %>
                        <li class="nav-item">
                            <a style="pointer-events: none;" class="nav-link <% if(index == 0){%>active<%}%>" id="Q<%= question.ID %>-tab"
                                data-toggle="tab" href="#Q<%= question.ID %>" role="tab" aria-controls="Q<%= question.ID %>"
                                aria-selected="true">Q
                                <%= index+1 %></a>
                        </li>
                        <% }) %>


                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">

                    <% questions.forEach((question, index) => { %>
                    <div class="tab-pane fade <% if(index == 0){%>show active<%}%>" id="Q<%= question.ID %>" role="tabpanel"
                        aria-labelledby="Q<%= question.ID %>-tab">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-horizontal">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" style="margin-top: 10px;" id="M<%= question.ID%>">
                                        <label class="form-check-label ml-2" style="font-size: 20px;" for="M<%= question.ID%>">
                                            <%= question.Name %></label>
                                    </div>
                                    <hr>

                                    <% question.Answers.forEach((answer, index) => { %>
                                    <div class="form-check mb-3 ml-3">
                                        <input class="form-check-input" type="radio" name="<%= question.ID %>" id="A<%= answer.ID %>"
                                            value="<%= answer.ID %>">
                                        <label class="form-check-label" for="A<%= answer.ID %>">
                                            <%= answer.Name %>
                                        </label>
                                    </div>
                                    <% }) %>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <% if(index == 0){%>
                                            <button class="btn btn-success btnNext">Next >></button>
                                            <%}else if (index == questions.length-1){%>
                                            <button class="btn btn-danger btnPrevious">
                                                << Previous</button> <%} else {%>
                                                    <button class="btn btn-danger btnPrevious">
                                                        << Previous</button> <button class="btn btn-success btnNext">Next
                                                            >>
                                                    </button>
                                                    <%}%>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <% }) %>
                    <hr>
                    <button class="btn btn-primary btn-block" id="finish">Finish</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/pace.min.js"></script>
    <script>
        $(document).ajaxStart(function () {
            Pace.restart()
        });
        $(document).ready(function () {
            var time = <%= time %>;
            $("#time").html(millisToMinutesAndSeconds(time));
            setInterval(function () {
                time -= 1000;
                if (time >= 0) {
                    $("#time").html(millisToMinutesAndSeconds(time));
                } else {
                    window.location = "/result/<%= token%>";
                }
            }, 1000);
            $("#finish").click(function () {
                window.location = "/result/<%= token%>";
            });
            $('input[type=radio]').change(function () {
                var solved = parseInt($("#solved").html());
                var questionId = this.name;
                var answerId = this.value;
                $.ajax({
                    url: '/saveAnswer/' + questionId + '/' + answerId,
                    type: 'POST',
                    success: function (data, textStatus, xhr) {
                        if (xhr.status === 201) {
                            $("#solved").html(solved + 1);
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 400) {
                            window.location = "/result/<%= token%>";
                        } else {
                            alert("somesthing goes wrong");
                        }
                    }
                });
            });

            $('.btnNext, .btnPrevious').click(function () {
                var qid = $('.nav-tabs > .nav-item > .active').attr('href');
                var itemId = qid.substring(2, qid.length);
                if ($('#M' + itemId).is(":checked")) {
                    $('.nav-tabs > .nav-item > .active').css('background-color', '#ffc107');
                } else if (!$("input[name='" + itemId + "']:checked").val()) {
                    $('.nav-tabs > .nav-item > .active').css('background-color', '#dc3545');
                } else {
                    $('.nav-tabs > .nav-item > .active').css('background-color', '');
                }
            });

            $('.btnNext').click(function () {
                $('.nav-tabs > .nav-item > .active').parent().next('li').find('a').trigger('click');
            });

            $('.btnPrevious').click(function () {
                $('.nav-tabs > .nav-item > .active').parent().prev('li').find('a').trigger('click');
            });

            function millisToMinutesAndSeconds(millis) {
                var minutes = Math.floor(millis / 60000);
                var seconds = ((millis % 60000) / 1000).toFixed(0);
                return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
            }
        });
    </script>
</body>

</html>